* {
    box-sizing: border-box;
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.board {
    display:flex;
    flex-wrap:wrap;
    width:360px;
    height:360px;
}

.cell {
    display:flex;
    flex-basis:120px;
    justify-content: center;
    align-items:center;
    font-size:30px;
}

.cell:nth-child(3n+2){
    border-left:1px solid black;
    border-right:1px solid black;
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-top:1px solid black;
    border-bottom:1px solid black;
}
