.math-card {
    display: inline-block;
    background: tomato;
    padding: 10px;
    margin-right: 10px;
    font-family: monospace;
    text-align: right;
    color: white;
    font-size: 20px;
    width: 70px;

}

.first-term , .second-term, .result{
    margin: .5em;
}


.result {
    border-top: 1px solid white;
    font-weight: bold;
    padding-top: 5px;
}