* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis';
}

.main-nav {
    display:flex;
    background: #4444BA;
    justify-content: space-between;
    padding:8px;
    flex-basis:100%;
}
.nav-list {
    display:flex;
    list-style: none;
}

.full-width {
    display:none;
}

.short-width {
    display:flex;
    justify-content: flex-end;
}

.sub-nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.company-name {
    text-align:center;
    padding-left:2rem;
    padding-right:2rem;
    font-size: 3rem;
    color:#4444BA;
    flex-basis: 20%;
}

.credit-offer {
    flex: 0 0 12%;
    background:red;
    color:white;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 30px 15px;
    text-align: center;
    padding:8px;
    
}

.search-form {
    display:flex;
    flex: 1 0 33%;
}

.sub-nav input {
    padding: .3rem;
    border:none;
    border-bottom:1px solid #4444BA;
    flex-grow:1;
}

.sub-nav button {
    padding: .3rem;
    border:none;
    background:#4444BA;
    color:white;
}


.nav-list a {
    padding:10px;
    border-right: 1px solid white;
    text-decoration: none;
    color:white;
    font-size:20px;
}

.nav-list li:last-of-type a {
    border:none;
}


@media screen and (min-width:768px){
    .short-width {
        display:none;
    }

    .full-width {
        display:flex;
        justify-content: flex-end;
    }

}
